{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


        <!-- /#page-content-wrapper -->
    {% if header.masterclass %}
    <div id="masterclass">
        <div id="masterclass_header" class="row">
             <div id="masterclass_report_heading">
                 <div id="masterclass_report_name">
                     <p>{{header.report_name}}</p>
                 </div>
                 <div id="masterclass_published_date">
                      {{header.published_date}}
                 </div>
                 <div id="masterclass_report_date">
                      <p>&nbsp;&nbsp;{{header.report_date}}</p>
                 </div>
             </div>
             <div id="master_class_header_logo" class="pull-right" >
                 <img src="{{ url_for('static', filename='image/masterclass_header_logo.png') }}">
             </div>
        </div>
     {% endif %}


   {% if header.single %}
    <div id="singleclass">
        <div id="singleclass_header" class="row">
            <img src="{{ url_for('static', filename='image/single_report_top_header.png') }}">
             <div id="singleclass_report_heading">

                 <div id="singleclass_report_name">
                     {{header.report_name}}
                 </div>
                 <div id="singleclass_company_name">
                      {{header.commpany_name}}
                 </div>
                 <div id="singleclass_published_date">
                      {{header.published_date}}
                 </div>
                 <div id="singleclass_report_date">
                      <p>&nbsp;&nbsp;{{header.report_date}}</p>
                 </div>

             </div>
        </div>
     {% endif %}

        <div id="master_class_row_1" class="row">
             <div class="master_class_row_1_cell">

                <img src="{{url}}" />

                <p id="master_class_participants">
                        {{caption}}
                </p>



            </div>
             <div class="master_class_row_1_cell">
                 <table  style="width:600px;">
                     <tr>
                         <td id="master_class_total_views">{{'{0:,}'.format(summary['total_views'])}}</td>
                         <td class="table_label">total<br>views</td>
                         <td id="master_class_total_viewing_duration">{{summary['total_viewing_duration']}}</td>
                         <td class="table_label">total viewing<br/>duration (hours)</td>
                     </tr>
                     <tr>
                         <td id="master_class_video_duration">{{summary['video_duration']}}</td>
                         <td class="table_label">video<br/>duration<br/>(min)</td>
                         <td id="master_class_average_views">{{summary['average_view']}}</td>
                         <td class="table_label">average view<br/>(min)</td>
                     </tr>
                 </table>
             </div>
        </div>

        <div id="master_class_row_2"  class="row">

            <!--  AUDIENCE PROFILE -->

            <div class="master_class_row_2_cell">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                <div class="masterclass_report_subheader">

                   <h4>AUDIENCE PROFILE</h4>


                </div>
                <div class="piechart-container" id="piechart-container">

		        </div>


            </div>

            <!--  TOP VIEWING COMPANIES -->

            <div class="master_class_row_2_cell">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                <div class="masterclass_report_subheader">
                    <h4>TOP VIEWING COMPANIES</h4>
                </div>
                <div  id="top_companies">
                    <ol>
                        {% for company in top_companies %}
                           <li><span class='listspace'>{{company}}</span></li>
                        {% endfor %}
                    </ol>
                </div> <!-- end of top companies -->
             </div>

             <!--  TOP VIEWS TIMELINE -->

            <div class="master_class_row_2_cell">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                <div class="masterclass_report_subheader">
                    <h4>TOP VIEWS TIMELINE</h4>
                </div>

                <div class="master_class_barchart">
                </div>
            </div>

        </div> <!-- end of master_class_row_2 -->
        <div id="master_class_footer" class="row">
            <div class="col-md-6">
                <a href = '{{url_video}}' >
                    <img id="watch_on_tv" src="{{ url_for('static', filename='image/watch_on_asset_tv.png') }}">
                </a>
            </div>
            <div class="col-md-5 pull-right">
                <img id="logo_white" src="{{ url_for('static', filename='image/asset_tv_white_background.png') }}" >
           </div>
        <div>
    </div> <!-- end of masterclass -->

    </div>


{%- endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{%- endblock %}