<!-- wrapper -->
<div id="wrapper">
<!-- Sidebar -->
       <div id="sidebar-wrapper">
           <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Database Dashboard
                    </a>
                </li>
                <li>
                    <a href="/search/company">Company List</a>
                </li>
                <li>
                    <a href="/search/video">Video</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Channel Reports</a>
                </li>
                <li>
                    <a href="#">Single Reports</a>
                </li>
                <li>
                    <a href="#">View Stats</a>
                </li>
                <li>
                    <a href="#">Upload Email List</a>
                </li>
            </ul>
      </div>
<!-- End Sidebar -->
