<script language="javascript" type="text/javascript">

      var placeholder = $("#piechart-container");
      var audience_profile = {{audience_profile | safe}}
      var piedata = []


      {% for p in audience_profile %}
          piedata[{{loop.index0}}] = {data:{{p[1]}},label:'{{p[0]}}'}
      {% endfor %}

       placeholder.unbind();

       $.plot(placeholder, piedata, {
	       series: {
					pie: {
				    show: true,
				     innerRadius: 0.5,
				     combine: {color: "#999",threshold: 0.02},
				       label :{
				        show:true,radius: .4,
				                  formatter: function (label, series) {
                                    return '<div style="border:0px solid grey;font-size:12px;text-align:center;padding:2px;color:black;">' +
                                        Math.round(series.percent) + '%</div>';
                                   }

				       }
				    }
		    },
		    legend: {show: true,position: "ne",margin: [-150, 75]}
		});

</script>