{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">


  {% if results %}

  <h2>Single Videos</h2>
  <div class="table-responsive">
     <table class="table table-hover table-striped" data-url="/reports/single_report/" id="table_data">
       <thead>
         <tr>
           <th>Title</th>
           <th>Date Filmed</th>
           <th>Date Published</th>
           <th>Duration</th>
         </tr>
       </thead>
       <tbody>
         {% for row in results %}
            <tr data-key="{{row.V_ID}}">

              <td>{{row.V_Title}}</td>
              <td>{{row.V_DateFilmed}}</td>
              {% if row.V_DatePublished %}
                 <td>{{row.V_DatePublished.strftime('%m/%d/%Y')}}</td>
              {% else %}
                 <td></td>
               {% endif %}
              <td>{{row.V_Duration| round(2,'common')}}</td>

            </tr>

         {% endfor %}
    </tbody>
  </table>
  <form method="post" action='' id="edit">

  </form>
{%endif%}


        <!-- /#page-content-wrapper -->

    </div>


{%- endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{%- endblock %}